// out: ./style.css, compress: true, sourceMap: false
@import "rem.less";
@import "fontello.css";




/* basic */
@min-width: 320px;
@img-url: "../images";
@header-height: 100px;

/* color */

@main:#0075bc;
@sub01:#333;
@sub02:#333;
@sub03:#333;
@white:#fff;
@black:#000;
@gray:#999;

/* mixin */
.bold {
    font-weight: 800;
}

.normal {
    font-weight: 400;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.hidden {
    overflow: hidden;
}

.none {
    display: none;
}

.no-list {
    list-style: none;
}

.mapazero {
    margin: 0;
    padding: 0;
}

.zero {
    font-size: 0;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-item: center;
    -webkit-justify-content: center;
}

.full {
    width: 100%;
    height: 100%;
}

.full-position {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pointer {
    cursor: pointer;
}

.pagenation {
    .inline-block;
    .center;
    .zero;
    .rem(margin, 10 0 30);
    width: 100%;

    a {
        background: @white;
    }

    a,
    strong {
        .inline-block;
        .top;
        .rem(font-size, 12);
        color: #555;
        border: 1px solid #e2e2e2;
        .rem(width, 22);
        .rem(height, 32);
        .rem(line-height, 32);
        .rem(margin, 0 1);

        &.jump,
        &.move {
            .rem(padding, 0 5);
            width:auto;
            background:#ccc;
            border-color:transparent;
        }

    }

    .active,
    strong {
        background: #0075bc;
        color: @white;
        .normal;
        border-color: transparent;
    }
}


.box-sizing (@type:border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.drop-shadow (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}


.inner-shadow (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}



.drop-shadowW (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(255, 255, 255, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(255, 255, 255, @alpha);
    box-shadow: @x @y @blur @spread rgba(255, 255, 255, @alpha);
}


.text-shadow (@string:0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

.opacity (@opacity) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.gradient (@startColor:#eee, @ingColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @ingColor, @endColor);
}

.gradienth (@startColor:#eee, @ingColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -moz-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -ms-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -o-linear-gradient(left, @startColor, @ingColor, @endColor);
}

.ani(@time:0.1s) {
    -webkit-transition: all @time ease;
    -moz-transition: all @time ease;
    -o-transition: all @time ease;
    -ms-transition: all @time ease;
    transition: all @time ease;
}

.container(@con-width) {
    .relative;
    .inline-block;
    margin: 0 auto;
    width: @con-width;
    height: 100%;
}

.header-default() {
    .inline-block;
    .top;
    .mapazero;
}

.blur(@blur) {
    filter: blur(@blur);
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder(@size, @color) {
    .runChecks() when not (isunit(@size, px)) {
        .rem(font-size, @size);
    }

    .runChecks() when (isunit(@size, px)) {
        font-size: @size;
    }

    &::-webkit-input-placeholder {
        .runChecks();
        color: @color;
    }

    &:-moz-placeholder {
        .runChecks();
        color: @color;
    }

    &::-ms-input-placeholder {
        .runChecks();
        color: @color;
    }
}

.full-background(@background) {
    .block;
    margin: 0;
    width: 100%;
    height: 100%;
    background: @background;
}
@keyframes fade {
    from {
        background: rgba(0, 0, 0, 0.3);
    }

    to {
        background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes heights {
    to {
        height: auto;
    }
}
/* header */
* {
    .box-sizing;
}


input,
select,
textarea {
    .border-radius(0);

    @supports (-webkit-overflow-scrolling: touch) {
            font-size:16px !important;
    }
/*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}


a {
    text-decoration: none;
    color: #333;
}
/*font*/
html {
    min-width: @min-width;
    max-width: 100%;
    font-size: 14px;
    min-height: 100%;
}



body {
    min-width:@min-width;
    font-family: "Malgun Gothic", "apple sd gothic neo", sans-serif;

}

.sr-only {
    .absolute !important;
    .hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    .static;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}



@supports (-webkit-overflow-scrolling: touch) {

    input,
    select,
    textarea {
        font-size:16px !important;
    }

}
/* style */

body {
    .mapazero;
    background:#eee;

    &.login {

        header#header {
            .relative;
            background: @white;
        
            div.m_login {
                background: #0C3553;
                width: 100%;
                .rem(height, 240);
                margin: 0 auto;
        
                h1 {
                    .center;
                    .rem(font-size, 18);
                    .rem(padding, 120 0 0 0);
                    color: @white;
                    margin: 0;
                }
            }
        }
        
        div#content {
            width: 100%;
            .relative;
        
            div.m_circle {
                .absolute;
                background: #fff;
                .center;
                .rem(width, 140);
                .rem(height, 140);
                border-radius: 50%;
                .rem(top, -70);
                left: 50%;
                .rem(margin-left, -70);
                .rem(padding, 25);
                
                img {
                    .rem(width, 40);
                }
            }
        
            div.form {
                .absolute;
                width: 100%;
                .rem(padding, 20 30);
                background: @white;
        
                h2 {
                    .center;
                    color: #333;
                    .rem(margin, 25 0 40 0);
                    .rem(font-size, 28);
                    margin: 0;
        
                    small {
                        .block;
                        color: #555;
                        .rem(font-size, 12);
                        .rem(margin-top, 10);
                        font-family:sans-serif;
                    }
                }
        
                input[type="text"] {
                    .block;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    .rem(margin, 10 auto 10);
                    .rem(width, 260);
                    .rem(height, 40);
                    .rem(padding, 10);
                    .rem(font-size, 12);
                }
        
                input[type="password"] {
                    .block;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    .rem(margin, 10 auto 20 auto);
                    .rem(width, 260);
                    .rem(height, 40);
                    .rem(padding, 10);
                    .rem(font-size, 12);
                }
        
                input[type="checkbox"] {
                    .pointer;
                    .mapazero;
                    .absolute;
                    .rem(width, 13);
                    .rem(height, 13);
                    left: 50%;
                    .rem(margin-left, -130);
                }
        
                input[type="checkbox"]+label {
                    .pointer;
                    .top;
                    .absolute;
                    left: 50%;
                    .rem(margin-left, -110);
                    .rem(font-size, 12);
                    font-family:sans-serif;
                }
        
                button.login_btn {
                    .block;
                    .pointer;
                    background: #0C3553;
                    color: @white;
                    border-radius: 5px;
                    border: none;
                    .rem(margin, 70 auto 0 auto);
                    .rem(width, 260);
                    .rem(height, 40);
                    .rem(font-size, 16);
                }
            }
        }
    
    }

    &.main {

        header#header {
            .inline-block;
            width:100%;
            background: #0C3553;
            .rem(height, 50);
            .center;

            h3 {
                color:@white;
                .mapazero;
                .rem(line-height, 50);

                .rem(font-size, 18);
            }

            nav.mainMenu {
                .none;
                .fixed;
                .full-position;
                .zero;
                min-width:@min-width;
                z-index:900;

                &.on {
                    .block;
                }

                div.navWrap {
                    .inline-block;
                    .absolute;
                    left:0;
                    top:0;
                    bottom:0;
                    .remCalc(width, 80);
                    background:@white;
                    .rem(font-size, 14);
                    background:#0075bc;

                    p {
                        margin:0;
                        .rem(line-height, 80);
                        color:@white;
                        .rem(font-size, 16);
                        font-weight:800;
                    }

                    button {
                        .rem(height, 40);
                        .remCalc(width, 20);
                        .rem(margin, 0 10);
                        border:none;
                        background:#0C3553;
                        color:@white;
                        border-radius:6px;

                    }

                    ul.gnb {
                        .no-list;
                        .left;
                        .mapazero;

                        &>li {
                            h4 {
                                .mapazero;

                                a {
                                    .block;
                                    .rem(line-height, 40);
                                    color:@white;
                                    margin:0 20px;
                                    border-bottom:1px solid @white;
                                }

                            }

                            &:last-child {
                                h4 {
                                    a {
                                        border:none;
                                    }
                                }
                            }

                            ul {
                                .no-list;
                                margin:0;
                                .rem(padding, 10 10 10 40);

                                li {
                                    a {
                                        .rem(line-height, 40);
                                        color:@white;
                                    }

                                }
                            }
                        }
                    }
                }

                a.admin {
                    .inline-block;
                    width:100%;
                    .rem(line-height, 40);
                    border:none;
                    background:rgba(0,0,0,0.2);
                    color:@white;
                    .rem(margin, 20 0);

                }

                button.closeMenu {
                    .absolute;
                    right:0;
                    top:0;
                    bottom:0;
                    .rem(width, 80);
                    background:rgba(0,0,0,0.6);
                    border:none;
                    .zero;

                }
            }

            button.close,
            button.menu {
                .mapazero;
                border:none;
                background:none;
                .absolute;
                .zero;
                .rem(height, 50);

                &.menu {
                    left:0;
                    top:0;
                }

                &.close {
                    right:0;
                    top:0;
                }

                i {
                    .rem(font-size, 22);
                    color:@white;
                }
            }
        }

        div#content {
            .rem(padding, 20 10);

            h2 {
                .rem(font-size, 18);
                .rem(margin, 0 0 10);
            }

            h3 {
                .rem(font-size, 16);
                .rem(margin, 0 0 10);
            }


            fieldset.repareInput {
                .mapazero;
                border:none;
                .inline-block;
                width:100%;

                dl {
                    background:@white;
                    .rem(margin, 0 0 20);
                    .rem(padding, 10 10 0);
                    .drop-shadow();

                    dt {
                        .rem(font-size, 14);
                        .rem(margin, 0 0 10);
                    }

                    dd {
                        padding:0;
                        .rem(margin, 0 0 10);
                        .zero;

                        input[type="text"],
                        input[type="date"],
                        select {
                            .rem(font-size, 14);
                            .rem(height, 40);
                            .rem(padding, 0 10);
                            width:100%;
                            border:none;
                            .rem(margin, 0 0 10);
                            background:#efefef;

                            &.withButton {
                                .remCalc(width, 80);
                                border-right:none;
                            }
                        }

                        input[type="file"] {
                            .rem(font-size, 14);
                            .rem(height, 40);
                            width:100%;

                            &.withButton {
                                .remCalc(width, 80);
                                border-right:none;
                            }
                        }

                        textarea {
                            .rem(font-size, 14);
                            .rem(min-height, 140);
                            .rem(padding, 10);
                            width:100%;
                            border:1px solid #ccc;
                            .rem(margin, 0 0 10);
                            background:#efefef;

                            &.withButton {
                                .remCalc(width, 80);
                                border-right:none;
                            }
                        }



                        button {
                            .top;
                            .rem(width, 80);
                            .rem(height, 40);
                            border:none;
                            background:#666;
                            color:@white;
                        }
                    }
                }
            }
            
            fieldset.sort {
                .rem(padding, 10);
                .rem(margin, 0 0 20);
                background:rgba(0,0,0,0.2);
                border:none;
                .inline-block;
                width:100%;
                .zero;

                div.line {
                    .rem(margin, 0 0 10);

                    select,
                    input {
                        .top;
                        width:calc(~"(100% - 10px) / 3");
                        margin-left:5px;
                        border:none;
                        .rem(height, 40);
                        .rem(padding, 0 10);

                        &:first-of-type {
                            margin:0;
                        }
                    }
                    &.two {
                        input {
                            width:calc(~"(((100% - 10px) / 3) * 2) + 5px");
                            margin-left:5px;
                        }
                    }
                }

                button.search {
                    border:none;
                    background:#0C3553;
                    width:100%;
                    height:40px;
                    color:@white;
                }
            }

            dl.table {
                dt {
                    background:#0075bc;
                    color:@white;
                    .rem(padding, 10);
                    .relative;
                    .drop-shadow();

                    h3 {
                        .mapazero;
                    }

                    p.address {
                        .rem(font-size, 12);
                        .rem(margin, 2 0 0);
                        color:rgba(255,255,255,0.6);
                    }

                    p.id {
                        .absolute;
                        .rem(right, 10);
                        .rem(top, 10);
                        .rem(font-size, 12);
                        .rem(margin, 0);
                        color:#d9de86;
                    }
                }

                dd {
                    .rem(margin, 0 0 20);
                    .rem(padding, 10);
                    background:@white;
                    .drop-shadow();

                    ul {
                        .no-list;
                        .mapazero;

                        li {
                            .inline-block;
                            .rem(margin-right, 20);

                            u {
                                text-decoration:none;
                            }
                        }
                    }

                    div.text {
                        .relative;
                        .inline-block;
                        width:100%;
                        background:#eee;
                        .rem(padding, 10);
                        .rem(margin, 8 0 14);

                        h4 {
                            .rem(margin, 0 0 10);
                        }

                        p {
                            .rem(margin, 0 0 10);
                        }

                        i {
                            margin:0;
                            font-style:normal;
                            .rem(font-size, 12);
                            color:#0075bc;
                        }

                        h5 {
                            .absolute;
                            .mapazero;
                            .rem(right, 10);
                            .rem(top, 10);
                            .rem(font-size, 12);
                            color:#0075bc;
                        }
                    }

                    p.confirm {
                        .inline-block;
                        .rem(margin, 0);
                        width:100%;
                        .center;

                        u {
                            text-decoration:none;
                        }

                        strong {
                            color:#0075bc;
                        }
                    }
                }
            }

            div.btn-set {
                text-align:center;

                button {
                    border:none;
                    background:#666;
                    color:#000;
                    border-radius:6px;
                    .rem(height, 40);
                    width:100%;
                    font-weight:bold;
                    .drop-shadow();
                    border:1px solid #ccc;

                    &.btn-main {
                        background:white;
                    }
                }
            }

        }

        .ax5modal {
            h4 {
                .left;
                margin:0;
                .rem(padding, 20 10);
                background:#0075bc;
                color:#fff;
            }

            ul.modal-result {
                .no-list;
                .left;
                .mapazero;

                li {
                    .rem(padding, 14);
                    border-bottom:1px solid #ccc;
                    

                    h5 {
                        .mapazero;


                        small {
                            color:#0075bc;
                            .block;
                            .normal;
                            .rem(padding, 4 0 0);
                        }
                    }
                }
            }

            button.close {
                background:#0C3553;
                border:none;
                color:#fff;
                .rem(padding, 10 20);
                .rem(border-radius, 6);
                .rem(margin, 20 0 0);
            }
        }


    }


}




